<div class="overlay">
  <div class="content">
    <h3>{caption}</h3>
    <div class="text-preview">
      {text}
    </div>
    <div class="form-group">
      <label for="kango-hop-title">{title}</label>
      <input type="text" id="kango-hop-title" value="{value}" maxlength="50">
    </div>
    <div class="form-group">
      <label>{color}</label>
      <div class="color-picker">
        {colors}
      </div>
    </div>
    <div class="modal-buttons">
      <button id="kango-cancel-hop" class="btn-cancel">{cancel}</button>
      <button id="kango-add-hop" class="btn-add">{add}</button>
    </div>
  </div>
</div>
